@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

.btn__menu {
  background-color: transparent;
  font-size: 25px;
  text-align: center;
  border: none;
  display:none;
}

.btn__menu:hover {
  color: #6415ff;
  cursor:pointer;
} 

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu__links {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__menu--close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px;
  color: #6415ff;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: black;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding:10px 0;
  line-height: 1.5;
}

.menu__link--primary {
  font-size: 20px;
  font-weight: 500;
  cursor:pointer;
}

.menu__link--primary:hover {
  background-color:#4f10cc;
}


.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

/*

LANDING

*/

#landing {
  padding: 0 32px;
}

body {
  max-width: 100vw;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
  line-height: 1.25;
  margin: 16px 0;
}

h4 {
  display: flex;
  justify-content: center;
  color: #6415ff;
}

.purple {
  color: #6415ff;
}

p {
  font-size: 16px;
  margin: 24px 0;
}

.container {
  padding: 88px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  max-height: 100px;
  width: 125px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: #6415ff;
  color: rgba(255, 255, 255);
  font-weight: 600;
  transition: all 300ms ease;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  letter-spacing: 1.2px;
  line-height: 1.25;
  column-gap: 0.25em;
  margin: 16px 0;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  max-width: 600px;
  margin: 24px auto;
  color: #7c8ba1;
  line-height: 1.725;
  text-align: center;
}

/*

 Navigation 

 */

.nav__container {
  padding-top: 32px;
  height: 92px;
  display: flex;
}

.row.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  max-width: 128px;
  max-height: 40px;
  margin: 16px 0;
}

.nav__logo--img {
  height: 40px;
}

.nav__logo--title {
  margin-left: 8px;
  font-size: 24px;
  font-weight: 900;
  height: 30px;
  width: 80px;
  color: #243e63;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #243e63;
  font-size: 15px;
  font-weight: 600;
  list-style: none;
  border-bottom: 2px transparent;
}

.nav__link {
  text-decoration: none;
  margin: 8px 24px;
}

.nav__link:hover {
  text-decoration: underline 2px;
  text-decoration-color: #6415ff;
  transition: all 300ms ease;
}

.nav__link--login {
  margin: 0px 24px 0px 48px;
  text-decoration: none;
}

.nav__link--login:hover {
  text-decoration: underline 2px;
  text-decoration-color: #6415ff;
  transition: all 300ms ease;
}

.nav__link--primary {
  width: 125px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: #6415ff;
  color: rgba(255, 255, 255);
  font-weight: 600;
}

.nav__link--primary:hover {
  background-color: #4f10cc;
  cursor: pointer;
}

/*

Header 
    
*/

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description {
  max-width: 40%;
}

.header__description--para {
  margin: 32px 0;
  font-size: 18px;
  line-height: 1.5;
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__img {
  width: 100%;
  max-width: 760px;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;

  align-items: center;
}

.header__email--input {
  width: 100%;
  border: 2px solid rgb(229, 231, 235);
  border-radius: 500px;
  padding: 20px 190px 20px 30px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email button {
  position: absolute;
  right: 8px;
  z-index: 2;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 500px;
  background-color: #6415ff;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 300ms;
}

.header__email button:hover {
  background-color: #4f10cc;
  cursor: pointer;
}

.customers__img {
  display: flex;
  width: 100%;
  height: 30px;
  max-width: 50px;
  margin-top: 16px;
  opacity: 0.5;
}

.customers__img--title {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 100px;
  opacity: 0.5;
}

/* 

FEATURES

*/

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature__row {
  display: flex;
  padding: 32px 24px;
  width: 400px;
}

.feature {
  width: calc(100% / 3);
}

.feature__img {
  height: 24px;
  width: 24px;
}

.feature__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(229, 231, 235);
  border-radius: 60px;
  padding: 20px 20px;
  height: 70px;
  width: 70px;
}

.feature__title {
  display: flex;
  justify-content: left;
  font-size: 25px;
  font-weight: 700;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
}

.feature__text {
  padding: 8px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* 

Quality Work

*/

.quality__row {
  display: flex;
  gap: 40px;
}

.quality__title {
  justify-content: left;
}

.quality__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc(100% - 50%);
}

.quality__description--para {
  margin: 32px 0;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(124, 139, 161);
}

.quality__img--wrapper {
  width: calc(100% - 50%);
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  margin: 0 50px;
  display: flex;
  position: relative;
  z-index: 2;
}

.quality__img {
  z-index: 1;
  max-width: 100%;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255);
  z-index: -1;
  display: block;
}

.quality__button:hover {
  background-color: #4f10cc;
  cursor: pointer;
}

/*

STEPS

*/

.steps__row {
  display: flex;
}

.steps__list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.steps__img {
  width: 100%;
  max-width: 650px;
}

.steps__img--wrapper {
  width: calc(100% - 50%);
}

.steps__title {
  justify-content: left;
}

.steps__description {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.step {
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

.step__number {
  color: #cbd5e0;
  font-size: 35px;
  font-weight: 600;
  max-height: 40px;
}

.step__title {
  font-size: 20px;
  font-weight: 600;
}

.step__description {
  margin-left: 20px;
}

.step__description--para {
  font-size: 14px;
  color: #7c8ba1;
  margin-top: 13px;
  line-height: 2;
}

/*

VALUES

*/

.values__row {
  display: flex;
  flex-direction: row-reverse;
}

.values__title {
  justify-content: left;
  letter-spacing: 0.025;
}

.values__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc(100% - 50%);
}

.values__description--para {
  margin: 32px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.63;
  color: #7c8ba1;
}

.values__img--wrapper {
  width: calc(100% - 50%);
  margin: 0 50px;
  display: flex;
}

.values__img {
  max-width: 100%;
}

.value {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 250px;
  height: 160;
  margin-top: 32px;
  margin-right: 32px;
}

.value__list {
  display: flex;
  flex-direction: row;
}

.value__title {
  font-size: 20px;
  font-weight: 600;
  display: flex;
}

.value__name {
  margin-left: 13px;
}

.value__img1 {
  width: 20px;
  height: 20px;
}

.value__img--wrapper1 {
  background-color: #9ae6b4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.value__description--para {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  color: #7c8ba1;
}

.value__img--wrapper2 {
  background-color: #feb2b2;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.value__img2 {
  stroke: rgb(155, 44, 44);
  width: 20px;
  height: 20px;
}

.value__button:hover {
  background-color: #4f10cc;
  cursor: pointer;
}

/*

PRICING PLANS

*/

#pricing .row {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.plans {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.plan {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 65px;
  margin-right: 34px;
  width: calc(100% /3);
  max-width: 400px;
  position: relative;
  border-radius: 8.5px;
  padding: 8.5px 34px 0px;
  color: #1a202c;
  box-shadow:
    #00000000 0px 0px 0px 0px,
    #00000000 0px 0px 0px 0px,
    #0000001a 0px 1px 3px 0px,
    #0000000f 0px 1px 2px 0px;
}

.plan__top-section {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 34px;
  line-height: 1.62;
}

.plan:nth-child(1) .plan__line {
  color: #f7fafc;
  background: linear-gradient(115deg, #38b2ac, #81e5d9);
}

.plan:nth-child(2) .plan__line {
  color: #f7fafc;

}

.plan__line {
  height: 8.5px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  border-top-left-radius: 8.5px;
  border-top-right-radius: 8.5px;
}

.plan__title {
  font-size: 20px;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__period {
  font-size: 16px;
  color: #a0aec0;
}

.plan__title,
.plan__price {
  color: #1a202c;
}

.plan__title,
.plan__price,
.plan__period {
  font-weight: 700;
  line-height: 1.62;
}

.plan__middle-section {
  display: flex;
  flex-direction: column;
}

.plan__feature {
  line-height: 1.5;
  font-size: 16px;
  color: #718096;
  font-weight: 500;
  margin-top: 20px;
}

.plan__top-section,
.plan__middle-section,
.plan__bottom-section {
  width: auto;
  margin: 0 -34px;
  box-shadow:
    #00000000 0px 0px 0px 0px,
    #00000000 0px 0px 0px 0px,
    #0000001a 0px 1px 0px 0px,
    #0000000f 0px 1px 0px 0px;
}

.plan__bottom-section {
  padding: 34px 68px 34px 68px;
}


.plan:nth-child(1)
.plan__button
 {
  max-height: 100px;
  width: 175px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #f7fafc;
  background: linear-gradient(#38b2ac, #81e5d9);
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.plan:nth-child(2)
.plan__button
 {
  max-height: 100px;
  width: 175px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #4c51bf;
  background: #f7fafc;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2)
.plan__title,
.plan:nth-child(2)
.plan__price,
.plan:nth-child(2)
.plan__period,
.plan:nth-child(2)
.plan__demographic,
.plan:nth-child(2)
.plan__feature {
    color: #f7fafc;
}

.plan:nth-child(3)
.plan__line {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan:nth-child(3)
.plan__button
 {
  max-height: 100px;
  width: 175px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #f7fafc;
  background:  linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}


.plan__button:hover {
    box-shadow: #0000001a -5px 8px 10px 6px;
    cursor: pointer;
    transform:translateX(1px);
    transform:translateY(-1px);
}

/*

TESTIMONIALS

*/

.testimonials__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}

.testimonials__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: calc(100% - 50%);
    padding-left: 64px;
}



.testimonials__img--wrapper {
    width: calc(100% - 50%);
    height: 650px;
}

.testimonials__img {
    width: 100%;
}


.testimonials__para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.62;
    color: #7c8ba1;
}

.testimonial__ratings svg {
  max-width: 400px;
}

.testimonial__ratings svg.fa-star path {
    fill: #F6ad55 !important;
}

.testimonials__h4 {
  justify-content: left;
}

.testimonial__title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
}

.testimonial__para {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
}

.testimonial__photo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.testimonial__dossier {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial__dossier-wrapper {
  display: flex;
}

.testimonial__dossier-details {
  margin-left: 24px;
}

.testimonial__dossier-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.62;
}

.testimonial__dossier-occupation {
  font-size: 18px;
  font-weight: 400;
  color: #7c8ba1;
}

.testimonial__button {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 0px 16px;
  color: rgb(0, 26, 255);
  background-color: #edf2f7; 
  padding: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.testimonial__button:hover {
  background-color: #dee5ec;
}

.testimonial__button svg.fa-arrow-left path,
.testimonial__button svg.fa-arrow-right path {
  fill: rgb(0, 26, 255) !important;
}

.testimonial__buttons {
  align-items: center;
}

/*

BANNER

*/

#banner .container {
  width: 100%;
  background-color: #6415ff;
  position: relative;
  overflow: hidden;
}

.banner__row {
  display: flex;
  max-width: 1024px;
  padding: 0 32px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 2;
}

.banner__title {
  font-size: 30px;
  color: white;
  line-height: 1.62;
  font-weight: 700;
  width: 50%;
  z-index: 1;
}

.banner__buttons {
  display: flex; 
  justify-content: flex-end;
  color: white;
}

.banner__btn {
  width: 175px;
  height: 70px;
  font-size: 16px;
  padding: 20px 40px;
  margin: 1px;
  justify-content: center;
  border-radius: 500px;
  cursor: pointer;
  
}

.banner__btn:nth-child(1) {
  background-color: #f56565;
  margin-right: 32px;
}

.banner__btn:nth-child(2) {
  border: solid .5px;
  border-color: white;
}

.banner__btn:nth-child(1):hover {
  background-color: #f34d4d;
}

.banner__btn:nth-child(2):hover {
  background-color: white;
  color: #6415ff;
}

.banner__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 340px;
    width: 340px;
    transform: translate(-5rem, 8rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

/*

FOOTER

*/

.footer__row {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #6415ff;
  width: 100%;
  max-width: 1400px;
  margin-top: 88px;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 48px;
}

.footer__column--title {
  font-size: 18px;
  color:#ffffff;
}

.footer__column:nth-child(1){
  z-index: 2
}

.footer__column {
  display: flex;
  flex-direction: column;
  line-height: 1.62;
}

.footer__links {
  display: flex;
  flex-direction: column;
  line-height: 2.5;
}

.footer__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.footer__link:hover {
  text-decoration: underline;
  color: #ffffff;
  transition: all 300ms ease;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
  background-color: #6415ff;
  border-top: 1px solid #718096;
}

.footer__bottom--logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.footer__logo {
  width: 32px;
  height:32px;
  margin-right: 8px;
}

.footer__bottom--link {
  cursor: pointer;
  background-color: #ffffff;
  font-size: 14px;
  padding: 8px;
  border-radius: 50%;
  margin-left: 16px;
}

.footer__bottom--link:nth-child(3) {
  margin-right: 32px;
}

.footer__bottom--link:hover {
  background-color:#919daf;
  transition: all 300ms ease;
}

.footer__copyright {
  color: #ffffff;
  font-size: 18px;
}

/*

TABLETS, SMARTPHONES

*/

@media(max-width: 768px){
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  h1 {
    font-size: 30px;
  }

  .customers__img {
    transform: translateX(-300%);
  }

  .customers__img--title {
    transform: translateX(20%);
  }

  .section__title {
    font-size: 30px;
  }

  .purple {
    font-size: 30px;
  } 

  .header__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__description {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .header__description--para {
    font-size: 16px;
    flex-direction: row;
  }

  

}




